{{define "content"}}
<form action="/save" method="POST" class="pure-form pure-form-aligned">
	<fieldset>
		<div class="pure-control-group">
			<label>Title</label>
			<input type="text" name="title" />
		</div>
		<div class="pure-control-group">
			<label>Status</label>
			<select name="status">
				<option value="0">Draft</option>
				<option value="1">Publish</option>
			</select>
		</div>
		<div class="pure-control-group">
			<label>Body</label>
			<textarea name="body" cols="50" rows="20"></textarea>

		</div>
		<div class="pure-control-group">
			<label></label>
			<button type="submit" class="pure-button pure-button-primary">Save</button>
		</div>
	</fieldset>
</form>
{{end}}